
:root {
    font-family: Montserrat;
    font-family: Quicksand;

    //animation: shakeYES 0.5s linear infinite;
    //-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    //filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
@font-face {
    font-family: 'King Arthur';
    src: url('king arthur.ttf') format('truetype');
}
@font-face {
    font-family: 'Evanescent';
    src: url('evanescent.ttf') format('truetype');
}
@font-face {
    font-family: 'Pokerkings';
    src: url('PokerKings.ttf') format('truetype');
}
@font-face {
    font-family: 'Quinthero';
    src: url('Quinthero.ttf') format('truetype');
}
/*@font-face {
    font-family: 'Riogrande';
    src: url('Riogrande.ttf') format('truetype');
}*/
$border-radius: 0.25rem;
$reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4)); //-webkit-box-reflect: 
$box-shadow: 0 12px 38px rgba(black, 0.4);
$hex-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
$rainbow-grad0: linear-gradient(0deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
$rainbow-grad90: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);

// Fonts
$titlefont: "Montserrat";
$textfont: "Quicksand";

// Gradients
$gradients: 
    linear-gradient(#402565,#30be96),
    linear-gradient(#ed7b84,#9055ff),
    linear-gradient(#d6ff7f, #00b3cc),
    linear-gradient(#402565,#30be96),
    linear-gradient(#402565,#30be96);
@for $i from 0 to length($gradients) {
    .gradient-#{$i} {
        background: unquote(nth($gradients, $i+1));
    }
}
$colorpalette: (
    "moonlit": linear-gradient(to right, #0f2027, #203a43, #2c5364),
    "argon": linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9),
    "velvet-sun": linear-gradient(to top, #e1eec3, #f05053),
    "meridian": linear-gradient(45deg, #283c86, #45a247)
);
@function gradientscheme($color) {
    @return map-get($colorpalette, $color);
}
// Website colorscheme
/*$maincolors: (
    "darkblue": #192D40,
    "blue": #21303A,
    "cyan": #375D72,
    "lime": #7FCD8A,
    "white": #F4F0E7,
    "lightblue": #5DACB6
);
@function colorscheme($color) {
    @return map-get($maincolors, $color);
}*/

body {
    //transform: rotateZ(--rotate);
    color: #ffffff;
    --hl: calc(.5*var(--l));
    overflow-x: hidden;
}
html:not([data-scroll='0']) {
    transform: rotateY(360deg);
}
html:not([data-scroll='0']) header {
    position: fixed;
}
/*::selection {
    color: white;
    background: #03a9f4;
}*/
.medieval-text {
    font-family: 'medieval';
}
.medieval-bodytext {
    font-family: 'medieval-bodytext';
}
.gold-text {
    background: linear-gradient(to bottom, #cfc19f 24%, #524f2c 26%, #cfc19f 28%, #cfc19f 29%, #ffecb4 45%, #3a2c1f 65%);
}
@mixin hover {
    color: #ff0000 !important;
    /*box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2), 
        inset 3px 3px 10px rgba(0,0,0,0.3),
        inset -3px -3px 10px rgba(0,0,0,0.1);*/
    box-shadow: 0 15px 35px rgb(0 0 0 / 50%);
    border-bottom: 0.2rem solid #ff0000;
    // Optional
    //animation: hover 2s forwards infinite;
}
@mixin active {
    color: #ff0000 !important;
    border-bottom: 0.2rem solid #ff0000;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2), 
        inset 3px 3px 10px rgba(0,0,0,0.3),
        inset -3px -3px 10px rgba(0,0,0,0.1);
}
@mixin rgbshadow {
    border-radius: 100px;
    box-shadow: #ffdd00 5px -3px 5px 0px,
                #00ff2f 3px 5px 5px 0px,
                #f200ff -3px 5px 5px 0px,
                #00eeff -3px -5px 5px 0px;
}
@mixin shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes hover {
    0% {
        box-shadow: 0.0px 0.0px 0.0px hsl(0deg 0% 0% / 0.50);
    }
    50% {
        box-shadow: 4.2px 8.3px 8.3px hsl(0deg 0% 0% / 0.37);
    }
    100% {
        box-shadow: 0.0px 0.0px 0.0px hsl(0deg 0% 0% / 0.50);
    }
}
.title {
    font-family: $titlefont;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
@keyframes rgb {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
#wolf {
	animation: rgb 3s linear infinite;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reflect {
    -webkit-box-reflect: $reflect;
}

.RGBborder {
	display: inline-block;
	position: relative;
	padding: 12px;
	overflow: hidden;
	list-style-type: none;
	justify-content: center;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2), 
	  inset -5px -5px 15px rgba(255,255,255,0.1), 
	  5px 5px 15px rgba(0,0,0,0.3),
	  -5px -5px 15px rgba(255,255,255,0.1);
	background: #232427;
	border-radius: 5px;
    span {
        position: absolute;
        display: block;
        overflow: hidden;
        &:nth-child(1) {
            top: 0;
            left: -100%;
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, transparent, #03e9f4);
            animation: NeonBtn1 2s linear infinite;
        }
        &:nth-child(2) {
            top: -100%;
            right: 0;
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
            width: 3px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #03e9f4);
            animation: NeonBtn2 2s linear infinite;
            animation-delay: 0.50s;
        }
        &:nth-child(3) {
            bottom: 0;
            right: -100%;
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
            width: 100%;
            height: 3px;
            background: linear-gradient(270deg, transparent, #03e9f4);
            animation: NeonBtn3 2s linear infinite;
            animation-delay: 1s;
        }
        &:nth-child(4) {
            bottom: -100%;
            left: 0;
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
            width: 3px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #03e9f4);
            animation: NeonBtn4 2s linear infinite;
            animation-delay: 1.50s;
        }
    }
}

/*Animasjonen til 1. rgbstripen*/
@keyframes NeonBtn1 {
	0% {left: -100%;
		filter: hue-rotate(0deg);}
	50%,100% {left: 100%;
			  filter: hue-rotate(90deg);}
}
/*Animasjonen til 2. rgbstripen*/
@keyframes NeonBtn2 {
	0% {top: -100%;
		filter: hue-rotate(90deg);}
	50%,100% {top: 100%;
			  filter: hue-rotate(180deg);}
}
/*Animasjonen til 3. rgbstripen*/
@keyframes NeonBtn3 {
	0% {right: -100%;
		filter: hue-rotate(180deg);}
	50%,100% {right: 100%;
			  filter: hue-rotate(270deg);}
}
/*Animasjonen til 4. rgbstripen*/
@keyframes NeonBtn4 {
	0% {bottom: -100%;
		filter: hue-rotate(270deg);}
	50%,100% {bottom: 100%;
			  filter: hue-rotate(360deg);}
}

#app {
  transition: margin-left .5s;
  padding: 0px;
}



@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes zoom {
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 50%;
    }
}



@mixin blendmode {
    mix-blend-mode: multiply;
}
@mixin imgtext {
    background: url('https://images.photowall.com/products/58243/galaxy-1.jpg');
    font-weight: 900;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
}
.imgtext {
    @include imgtext;
    
}




@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    animation: shake 0.5s linear infinite;
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

